/* .pokemon-card {
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    position: relative;
    overflow: hidden;
  } */